{
  "database": {
    "source": "username:password@localhost/dbname",
    "passwordFile": "path to a file containing your holy master encryption key",
    "deleteOnBoot": false
  },
  "environment": "dev or prod",
  "server": {
    "listen": "localhost:443",
    "baseUrl": "https://localhost",
    "certificate": "/path/to/server/cert.pem",
    "privateKey": "/path/to/cert/private.key",
    "ciphers": [
      "TLS_RSA_WITH_RC4_128_SHA",
      "TLS_RSA_WITH_3DES_EDE_CBC_SHA",
      "TLS_RSA_WITH_AES_128_CBC_SHA",
      "TLS_RSA_WITH_AES_256_CBC_SHA",
      "TLS_ECDHE_ECDSA_WITH_RC4_128_SHA",
      "TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA",
      "TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA",
      "TLS_ECDHE_RSA_WITH_RC4_128_SHA",
      "TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA",
      "TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA",
      "TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA",
      "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256",
      "TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384",
      "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384",
      "TLS_FALLBACK_SCSV"
    ]
  },
  "session": {
    "cookieName": "raziel",
    "lifetime": "30m",
    "secure": true
  }
}
