{{define "content"}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Access Log <small><small>records all attempts to access secrets.</small></small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
			<li class="active"><i class="fa fa-list-alt"></i> Access Log</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form method="get" action="/accesslog" role="form" class="form-inline filter-form">
			<div class="well">
				<div class="form-group">
					<select class="form-control select2" name="secrets[]" data-placeholder="Choose secrets…" multiple>
						{{range .Secrets}}
						<option value="{{.Id}}"{{if .Selected}} selected{{end}}>{{.Name}}</option>
						{{end}}
					</select>
				</div>
				<div class="form-group">
					<select class="form-control select2" name="consumers[]" data-placeholder="Choose consumers…" multiple>
						{{range .Consumers}}
						<option value="{{.Id}}"{{if .Selected}} selected{{end}}>{{.Name}}</option>
						{{end}}
					</select>
				</div>
				<div class="form-group">
					<select class="form-control select2" name="restriction" data-placeholder="Choose restriction status…">
						<option value="all"{{if eq .RestrictionSuccess "all"}} selected{{end}}>(all restriction states)</option>
						<option value="success"{{if eq .RestrictionSuccess "success"}} selected{{end}}>restriction success</option>
						<option value="failure"{{if eq .RestrictionSuccess "failure"}} selected{{end}}>restriction failure</option>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Apply</button>
				</div>
			</div>
		</form>

		<nav style="text-align:center">
			{{$query := .Query}}
			<ul class="pagination">
				{{range .Pager.Links}}
				<li{{if not .Enabled}} class="disabled"{{else if .Active}} class="active"{{end}}>
					<a href="{{if .Enabled}}/accesslog{{if gt .Page 0}}?page={{.Page}}&amp;{{$query}}{{else}}?{{$query}}{{end}}{{else}}#{{end}}">
						{{if eq .Type 0}}{{.Page1Based}}{{end}}
						{{if eq .Type 1}}|&laquo;{{end}}
						{{if eq .Type 2}}&laquo;{{end}}
						{{if eq .Type 3}}&raquo;{{end}}
						{{if eq .Type 4}}&raquo;|{{end}}
						{{if eq .Type 5}}…{{end}}
					</a>
				</li>
				{{end}}
			</ul>
		</nav>

		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Status</th>
						<th>Date</th>
						<th>Origin</th>
						<th>Consumer</th>
						<th>Secret</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					{{range .Entries}}
					<tr>
						<td>
							<span class="label label-{{if .RestrictionSuccess}}success{{else}}danger{{end}}">R</span>
						</td>
						<td>{{time .RequestedAt}}</td>
						<td>{{.OriginIp}}</td>
						<td>{{if .Consumer}}<i class="fa fa-truck"></i> <a href="/consumers/{{.Consumer}}">{{.GetConsumer.Name}}</a>{{else}}(N/A){{end}}</td>
						<td>{{if .Secret}}<i class="fa fa-key"></i> <a href="/secrets/{{.Secret}}">{{.GetSecret.Name}}</a>{{else}}(N/A){{end}}</td>
						<td><i class="fa fa-search-plus"></i> <a href="/accesslog/{{.Id}}">Details</a></td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{end}}
