{{define "content"}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Secrets <small><small>are the things you don't want others to know about.</small></small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
			<li><i class="fa fa-key"></i> <a href="/secrets">Secrets</a></li>
			<li class="active">{{if .Secret}}<i class="fa fa-pencil"></i> Edit{{else}}<i class="fa fa-plus"></i> New{{end}}</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="well">
			<form method="post" action="{{if .Secret}}/secrets/{{.Secret}}{{else}}/secrets{{end}}" role="form">
				<div class="form-group{{if .NameError}} has-error{{end}}">
					<input type="hidden" name="_csrf" value="{{.CsrfToken}}">
					{{if .Secret}}<input type="hidden" name="_method" value="PUT">{{end}}
					<label for="name" class="control-label">Name:</label>
					<input class="form-control" id="name" name="name" value="{{.Name}}" required placeholder="My Website's SSL Certificate">
					<p class="help-block">
						{{if .NameError}}{{.NameError}}{{else}}This is how the secret is refered to within Raziel's UI.{{end}}
					</p>
				</div>

				<div class="form-group{{if .SlugError}} has-error{{end}}">
					<label for="slug" class="control-label">Slug:</label>
					<input class="form-control" id="slug" name="slug" value="{{.Slug}}" required placeholder="ssl-cert">
					<p class="help-block">
						{{if .SlugError}}{{.SlugError}}{{else}}
						The slug is a unique, alphanumeric string used for accessing the secret
						programmatically. Changing this {{if not .Secret}}later{{end}} will break existing consumer URLs,
						so choose carefully.
						{{end}}
					</p>
				</div>

				<div class="form-group{{if .BodyError}} has-error{{end}}">
					<label for="body" class="control-label">Body:</label>
					<textarea class="form-control" rows="5" id="body" name="body" style="font-family: monospace" {{if not .Secret}}required placeholder="1t's 4 s3cr3t t0 3v3ryb0dy."{{end}}></textarea>
					<p class="help-block">
						{{if .BodyError}}{{.BodyError}}<br>{{end}}
						{{if .Secret}}
						Leave this field <strong>empty</strong> if you do not wish to overwrite the existing value.
						{{else}}
						This is your actual secret, for example a private SSH key or the password to some
						service. Once the secret is created, you will not be able to see this via the UI,
						but only by using Consumers. You can overwrite (update) the secret at any time,
						though.
						{{end}}
					</p>
				</div>

				{{if .Secret}}
				<div class="pull-right">
					<a class="btn btn-danger" href="/secrets/{{.Secret}}/delete"><i class="fa fa-trash-o"></i> Delete</a>
				</div>
				{{end}}

				<div>
					<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {{if .Secret}}Update{{else}}Save{{end}}</button>
					<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Reset</button>
				</div>
			</form>
		</div>

		{{if .OtherError}}
		<div class="alert alert-danger">
			<strong>Aw snap.</strong> {{.OtherError}}
		</div>
		{{end}}
	</div>
</div>
{{end}}
