{{define "root"}}<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.Consumer.Name}} &ndash; Information</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<h1>{{.Consumer.Name}} <small><small>Usage Information</small></small></h1>
		<p>This page explains how to access secrets as configured by the administrator.<br>It does not,
		however, contain the actual authentication information, which needs to be provided via a
		different channel to you.</p>

		<h3>Your assigned Secrets</h3>
		{{$identifier := .Consumer.GetIdentifier}}

		{{if .Secrets}}
			<p>The following secrets are available to you. Please note that there may be restrictions as to
			<em>when</em> or <em>from where</em> you may access them.</p>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Secret</th>
							<th>URL</th>
						</tr>
					</thead>
					<tbody>
						{{range .Secrets}}
						<tr>
							<td><i class="fa fa-key"></i> {{.Name}}</td>
							<td><a href="/get/{{$identifier}}/{{.Slug}}"><tt>https://this.example.co/get/{{$identifier}}/{{.Slug}}</tt></a></td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		{{else}}
			<div class="alert alert-info">
				<i class="fa fa-exclamation-circle"></i> You have not been assigned any secrets.
			</div>
		{{end}}

		<h3>Access Control</h3>
	</div>
</body>
</html>
{{end}}
