{{define "content"}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Consumers <small><small>allow programmatic access to secrets, given certain conditions are met.</small></small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
			<li class="active"><i class="fa fa-truck"></i> Consumers</li>
		</ol>
	</div>
</div>

<div class="row">
	{{if .Consumers}}
	<div class="col-lg-12">
		<p><a href="/consumers/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Consumer</a></p>
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
						<th>Last Seen</th>
						<th>Created</th>
						<th>Updated</th>
					</tr>
				</thead>
				<tbody>
					{{range .Consumers}}
					<tr>
						<td><i class="fa fa-truck"></i> <a href="/consumers/{{.Id}}">{{.Name}}</a></td>
						<td>{{if .Enabled}}<span class="label label-success">enabled</span>{{else}}<span class="label label-default">disabled</span>{{end}}</td>
						<td><i class="fa fa-link"></i> <a href="/consumers/{{.Id}}/urls">Secret URLs</a></td>
						<td>
							{{if .InfoToken}}
							<i class="fa fa-info-circle"></i> <a href="/info/{{.GetIdentifier}}/{{.InfoToken}}" target="_blank">Info Page</a> <sup><small><i class="fa fa-external-link"></i></small></sup>
							{{else}}
							&nbsp;
							{{end}}
						</td>
						<td>{{if .LastSeenAt}}<i class="fa fa-list-alt"></i> <a href="/accesslog?consumers[]={{.Id}}">{{time .LastSeenAt}}</a>{{else}}(never){{end}}</td>
						<td>{{time .CreatedAt}} by <i class="fa fa-user"></i> <a href="/users/{{.CreatedBy}}">{{.GetCreator.Name}}</a></td>
						<td>
							{{if .UpdatedAt}}
								{{time .UpdatedAt}} by <i class="fa fa-user"></i> <a href="/users/{{.UpdatedBy}}">{{.GetUpdater.Name}}</a>
							{{else}}
								(never)
							{{end}}
						</td>
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	{{else}}
	<div class="col-lg-12">
		<div class="jumbotron text-center">
			<p>There are no consumers yet.</p>
			<p><a href="/consumers/add" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i> Create first consumer</a></p>
		</div>
	</div>
	{{end}}
</div>
{{end}}
