{{define "content"}}
<div class="row">
	{{$viewMode := or (.Deleted) (eq .User .CurrentUser.Id)}}
	<div class="col-lg-12">
		<h1 class="page-header">
			Users <small><small>are the individuals managing secrets and consumers.</small></small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i> <a href="/">Dashboard</a></li>
			<li><i class="fa fa-users"></i> <a href="/users">Users</a></li>
			<li class="active">{{if .User}}{{if $viewMode}}<i class="fa fa-user"></i> View{{else}}<i class="fa fa-pencil"></i> Edit{{end}}{{else}}<i class="fa fa-plus"></i> New{{end}}</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		{{if $viewMode}}
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-edit"></i> User Details
			</div>
			<div class="panel-body form-horizontal">
				<div class="form-group">
					<label for="name" class="col-lg-2 control-label">Name:</label>
					<div class="col-lg-8">
						<p class="form-control-static" id="name">{{.Name}}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="login" class="col-lg-2 control-label">Login:</label>
					<div class="col-lg-8">
						<p class="form-control-static" id="login">{{.LoginName}}</p>
					</div>
				</div>

				<div class="form-group">
					<label for="login" class="col-lg-2 control-label">Last Login:</label>
					<div class="col-lg-8">
						<p class="form-control-static">{{if .LastLoginAt}}{{time .LastLoginAt}}{{else}}(never){{end}}</p>
					</div>
				</div>
			</div>
		</div>
		{{else}}
		<form method="post" action="{{if .User}}/users/{{.User}}{{else}}/users{{end}}" role="form" class="form-horizontal">
			<div class="panel panel-{{if .Deleted}}default{{else}}info{{end}}">
				<div class="panel-heading">
					<i class="fa fa-edit"></i> User Details
				</div>
				<div class="panel-body">
					<div class="form-group{{if .NameError}} has-error{{end}}">
						<input type="hidden" name="_csrf" value="{{.CsrfToken}}">
						{{if .User}}<input type="hidden" name="_method" value="PUT">{{end}}
						<label for="name" class="col-lg-2 control-label">Name:</label>
						<div class="col-lg-8">
							<input class="form-control" id="name" name="name" value="{{.Name}}" required placeholder="Peter Gibbons">
							<p class="help-block">
								{{if .NameError}}{{.NameError}}{{else}}Each user should have a name that the root user can recognize.{{end}}
							</p>
						</div>
					</div>

					<div class="form-group{{if .LoginError}} has-error{{end}}">
						<label for="login" class="col-lg-2 control-label">Login:</label>
						<div class="col-lg-8">
							<input class="form-control" id="login" name="login" value="{{.LoginName}}" required placeholder="pgibbons">
							<p class="help-block">
								{{if .LoginError}}{{.LoginError}}{{else}}The login must be alphanumeric and unique.{{end}}
							</p>
						</div>
					</div>

					<div class="form-group{{if .PasswordError}} has-error{{end}}">
						<label for="password" class="col-lg-2 control-label">Passphrase:</label>
						<div class="col-lg-8">
							<input class="form-control" type="password" id="password" name="password" {{if not .User}}required{{end}}>
							<p class="help-block">
								{{if .PasswordError}}{{.PasswordError}}{{else}}Choose a strong passphrase.{{end}}
							</p>
						</div>
					</div>

					{{if .User}}
					<div class="form-group">
						<label class="col-lg-2 control-label">Last Login:</label>
						<div class="col-lg-8">
							<p class="form-control-static">{{if .LastLoginAt}}{{time .LastLoginAt}}{{else}}(never){{end}}</p>
						</div>
					</div>
					{{end}}
				</div>
				<div class="panel-footer">
					{{if .User}}
					<div class="pull-right">
						<a class="btn btn-danger" href="/users/{{.User}}/delete"><i class="fa fa-trash-o"></i> Delete</a>
					</div>
					{{end}}

					<div class="row">
						<div class="col-lg-5 col-lg-offset-2">
							<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> {{if .User}}Update{{else}}Save{{end}}</button>
							<button type="reset" class="btn btn-default"><i class="fa fa-undo"></i> Reset</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		{{end}}

		{{if .Deleted}}
		<div class="alert alert-info">
			This user has been deleted and the account is only kept for archival purpose. You cannot make any changes to it anymore.
		</div>
		{{else}}
			{{if eq .User .CurrentUser.Id}}
			<div class="alert alert-info">
				You cannot edit yourself here. Use your <a href="/profile">profile</a> (top right corner of the page) to change your information.
			</div>
			{{end}}
		{{end}}

		{{if .OtherError}}
		<div class="alert alert-danger">
			<strong>Aw snap.</strong> {{.OtherError}}
		</div>
		{{end}}
	</div>
</div>
{{end}}
